* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #1b1c1f;
    color: white;
    font-family: 'Exo', sans-serif;
    font-size: 10px;
}

/* calculator */
.calculator {
    position: relative;
    width: 375px;
    height: 667px;
    border: 1px dotted powderblue;
}

/* screen */
.screen {
    position: relative;
    width: 100%;
    height: 150px;
    background-color: #22242c;
}
.screen .expression {
    font-size: 1.6rem;
    font-weight: 400;
    padding: 1rem 1.2rem;
}
.screen .solution {
    position: absolute;
    font-size: 2.2rem;
    font-weight: 500;
    text-align: right;
    width: 100%;
    padding: .8rem 1.2rem;
    bottom: 0;
}

/* keyboard */
.keyboard {
    background: #262931;
    border: 1px dotted powderblue;
}
.layout {
    display: grid;
}
