* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #1b1c1f;
    color: white;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 10px;
}

/* calculator */
.calculator {
    position: relative;
    width: 375px;
    height: 667px;
    border: 1px dotted powderblue;
}

/* screen */
.screen {
    position: relative;
    width: 100%;
    height: 170px;
    background-color: #22242c;
}
.screen .expression {
    position: absolute;
    margin-top: 2rem;
    margin-left: 2rem;
    font-size: 1.6rem;
}
.screen .solution {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    font-size: 2.2rem;
}