* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #1b1c1f;
    color: white;
    font-family: 'Exo', sans-serif;
    font-size: 10px;
}

/* calculator */
.calculator {
    position: relative;
    width: 375px;
    height: 667px;
}

/* screen */
.screen {
    position: relative;
    width: 100%;
    height: 170px;
    background-color: #22242c;
}
.screen .expression {
    font-size: 1.4rem;
    letter-spacing: 1.2px;
    font-weight: 400;
    padding: 1.4rem 1.6rem;
}
.screen .solution {
    position: absolute;
    font-size: 2.2rem;
    font-weight: 500;
    text-align: right;
    width: 100%;
    padding: 1.4rem 1.8rem;
    bottom: 0;
}

/* keyboard */
.keyboard {
    background: #383c46;
}
.btn-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
    width: 100%;
}
.btn {
    background: #262931;
    color: #fff;
    border: none;
    width: 92px;
    height: 98px;
    font-size: 1.6rem;
    cursor: pointer;
    outline: none;
}
.operator {
    color: #ec8484;
    font-size: 1.8rem;
}
.calc-func {
    color: #6fcf97;
}
.zero {
    grid-column: span 2;
    width: 186px;
}